 <!-- About Section -->
 <section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I am a software developer from Toronto, Canada a with strong passion for Android development, mobile development, web development, and open technologies. I have been in the industry for over three years now and have gained a lot of experience having worked with the latest technologies. I have a proven track record of successful projects and I am capable of working independently as well as in a distributed team. </p>
            </div>
            <div class="col-lg-4">
                <p>Furthermore, I am an aspiring entrepreneur working on personal projects alongside work. I have an interest in connecting with new people so feel free to contact me through <a href="#contact">here</a>. Cheers!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="{{ site.resume.url }}" download="Resume-HamzaAhmedQureshi" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> {{ site.footer.download_resume }}</a>
                </div>
            </div>
        </div>
    </section>