<section id="education">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Education</h2>
				<hr class="star-primary">
			</div>
		</div>    
		<div class="row">
			<div class="col-lg-12 text-left">
				<a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#lumsCollapsed" onclick="rotateSpan(this)">
					<div class="row">
						<div class = "col-lg-1 text-left">
							<img src="img/icons/lumsIcon.png" width='100%' height='100%'>
						</div>
						<div class="col-lg-7 text-left">
							<h3>  Lahore University of Management Sciences </h3>
						</div>
						<div class="col-lg-4 text-right" ><h3>2011 - 2015</h3></div>
					</div>
				</a> 
				<div id="lumsCollapsed" class="collapse row">
					<div class="col-lg-12">
						<div class="col-lg-1"></div>
						<table class="col-lg-9 custom-simple-table">
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>B.S. Computer Science</b> with a focus towards <b>Computer Graphics</b>, <b>Computer Vision</b> and <b>Human Computer Interaction</b></td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Head of Creativity and Technical (sound and lights) Department</b> of <b>LUMS Dramatics Society</b></td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Relevant Courses: </b>Computational Problem Solving (MATLAB), Introduction to programming (C++), Data Structures, Advanced Programming (Java), Algorithms, Network-Centric Computing, Introduction to Artificial Intelligence, Databases, Computer Graphics, Theory of Automata, Software Engineering, Network Security, Computer Networks, Discrete Math</td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Other Courses: </b>Principles of Business Management, Logic & Critical Thinking, Introduction to Evolution of Music in the Sub-Continent, The Purest Pearl: The Poetry of Maulana Jalaluddin Rumi, French-I</td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Relevant Projects: </b><a href="#"
							 onClick="showModal('#portfolioModal-4','4','lums',post4)" class="portfolio-link" data-toggle="modal">Implementing automated garbage collection system for local area</a>, <a href="#" onClick="showModal('#portfolioModal-5','5','lums',post5)" class="portfolio-link" data-toggle="modal">2D Human Pose Estimation and Tracking in Non-Overlapping Cameras</a>, <a href="#" onClick="showModal('#portfolioModal-6','6','lums',post6)" class="portfolio-link" data-toggle="modal">Hair Simulation and Rendering</a>, <a href="#" onClick="showModal('#portfolioModal-7','7','lums',post7)" class="portfolio-link" data-toggle="modal">3D Tennis Game</a></td></tr>
						</table>
					</div>
				</div>
				<div class="row text-center"><a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#lumsCollapsed" onclick="rotateSpan(this)"><span class="glyphicon glyphicon-chevron-down rotatable"></span></a></div>
				<hr class="star-secondary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-left">
				<a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#kgsCollapsed" onclick="rotateSpan(this)">
					<div class="row">
						<div class = "col-lg-1 text-left">
							<img src="img/icons/kgsIcon.png" width='100%' height='100%'>
						</div>
						<div class="col-lg-7 text-left">
							<h3>  Karachi Grammar School</h3>
						</div>
						<div class="col-lg-4 text-right" ><h3>2009 - 2011</h3></div>
					</div>
				</a> 
				<div id="kgsCollapsed" class="collapse row">
					<div class="col-lg-12">
						<div class="col-lg-1"></div>
						<table class="col-lg-9 custom-simple-table text-left">
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>AS</b> and <b>A levels</b> through <b>Cambridge Internation Examinations</b></td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Relevant Courses:</b> Physics, Chemistry, Math (Mechanics 1 & 2), General Paper</td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Overall Grades:</b> 3 As and 1 B</td></tr>		
						</table>
					</div>
				</div>
				<div class="row text-center"><a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#kgsCollapsed" onclick="rotateSpan(this)"><span class="glyphicon glyphicon-chevron-down rotatable"></span></a></div>
				<hr class="star-secondary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-left">
				<a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#habibCollapsed" onclick="rotateSpan(this)">
					<div class="row">
						<div class = "col-lg-1 text-left">	
							<img src="img/icons/habibIcon.png" width='100%' height='100%'>
						</div>
						<div class="col-lg-7 text-left">
							<h3>   Habib Public School</h3>
						</div>
						<div class="col-lg-4 text-right" ><h3>1998 - 2009</h3></div>
					</div>
				</a> 
				<div id="habibCollapsed" class="collapse row">
					<div class="col-lg-12">
						<div class="col-lg-1"></div>
						<table class="col-lg-9 custom-simple-table text-left">
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>O levels</b> through <b>Cambridge Internation Examinations</b></td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Relevant Courses:</b> Physics, Chemistry, Math, Add Maths, Statistics, Computer Studies, Accounting</td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Overall Grades:</b> 9 As</td></tr>		
						</table>
					</div>
				</div>
				<div class="row text-center"><a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#habibCollapsed" onclick="rotateSpan(this)"><span class="glyphicon glyphicon-chevron-down rotatable"></span></a></div>
				<hr class="star-secondary">
			</div>
		</div>
	</div>
</section>

