<section class="success" id="experience">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Experience</h2>
				<hr class="star-light">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-left">
				<a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#centegyCollapsed" onclick="rotateSpan(this)">
					<div class="row">
						<div class = "col-lg-1 text-left">
							<img src="img/icons/centegyIcon.png" width='130%' height='130%'>
						</div>
						<div class="col-lg-7 text-left">
							<h3>  Universal Data Processing Inc. </h3>
						</div>
						<div class="col-lg-4 text-right" ><h3>Jan 2016 - Present</h3></div>
					</div>
				</a> 
				<div id="universalDataCollapsed" class="collapse row">
					<div class="col-lg-12">
						<div class="col-lg-1"></div>
						<table class="col-lg-9 custom-simple-table text-left">
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Designation: </b>Android Devloper</td></tr>
							<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td>Developed native android applications which communicated
								with REST APIs to for transactions</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td>My responsibilities include, but are not limited to, developing mock ups and screens, creating REST APIs when needed, building stable applications and providing support after shipping of applications</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Relevant Projects: </b><a href="#" onclick="showModal('#portfolioModal-8','8','personal',post8)" class="portfolio-link" data-toggle="modal">Elaundry</a>, <a href="#" onclick="showModal('#portfolioModal-9','9','personal',post9)" class="portfolio-link" data-toggle="modal">GCE MCQ Helper</a></td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Tools used: </b>Intellij idea, Android Studio, SQLite browser, Adobe Photoshop, Sublime Text, JetBrains DataGrip, PL/SQL developer, SQL Server, Git, Apache Tomcat</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-left">
					<a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#centegyCollapsed" onclick="rotateSpan(this)">
						<div class="row">
							<div class = "col-lg-1 text-left">
								<img src="img/icons/centegyIcon.png" width='130%' height='130%'>
							</div>
							<div class="col-lg-7 text-left">
								<h3>  Centegy Technologies Pvt Ltd. </h3>
							</div>
							<div class="col-lg-4 text-right" ><h3>Sept 2015 - Aug 2016</h3></div>
						</div>
					</a> 
					
					<div class="row text-center"><a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#universalDataCollapsed" onclick="rotateSpan(this)"><span class="glyphicon glyphicon-chevron-down rotatable"></span></a></div>
					<hr class="star-secondary">
					<div id="centegyCollapsed" class="collapse row">
						<div class="col-lg-12">
							<div class="col-lg-1"></div>
							<table class="col-lg-9 custom-simple-table text-left">
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Designation: </b>Analyst Programmer</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Java</b>, <b>Web</b> and <b>Android</b> developer</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td>Wrote generic, readable, re-usable and dynamic code with a focus towards maintainabiliy and expandability</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td>My responsibilities included, but were not limited to, both back-end and front-end development of enterprise level applications</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Relevant Projects: </b><a href="#" onClick="showModal('#portfolioModal-1','1','centegy',post1)" class="portfolio-link" data-toggle="modal">ILAS (Individual Life Administration System)</a>, <a href="#" onClick="showModal('#portfolioModal-2','2','centegy',post2)" class="portfolio-link" data-toggle="modal">ILAS Android (Individual Life Administration System)</a>, <a href="#" onClick="showModal('#portfolioModal-3','3','centegy',post3)" class="portfolio-link" data-toggle="modal">GIAS (General Insurance Administration System)</a></td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Tools used: </b>Intellij idea, Sublime Text, JetBrains DataGrip, PL/SQL developer, SQL Server, TortoiseCVS, ERwin, Apache Tomcat</td></tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-left">
					<a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#centegyCollapsed" onclick="rotateSpan(this)">
						<div class="row">
							<div class = "col-lg-1 text-left">
								<img src="img/icons/centegyIcon.png" width='130%' height='130%'>
							</div>
							<div class="col-lg-7 text-left">
								<h3>  Arbisoft </h3>
							</div>
							<div class="col-lg-4 text-right" ><h3>June 2013 - Aug 2014</h3></div>
						</div>
					</a> 
					
					<div class="row text-center"><a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#centegyCollapsed" onclick="rotateSpan(this)"><span class="glyphicon glyphicon-chevron-down rotatable"></span></a></div>
					<hr class="star-secondary">
					<div id="arbisoftCollapsed" class="collapse row">
						<div class="col-lg-12">
							<div class="col-lg-1"></div>
							<table class="col-lg-9 custom-simple-table text-left">
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Designation: </b>Android Intern</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td>Created reusable components and widgets for android UI</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td>Created animations for components, such as rotate, flip and more</td></tr>
								<tr><td><span class="glyphicon glyphicon-chevron-right"></span></td><td><b>Tools used: </b>Eclipse, Sublime Text, Adobe Photoshop, SQLite Browser</td></tr>
							</table>
						</div>
					</div>
					<div class="row text-center"><a style="cursor:pointer !important;"type = "button" data-toggle="collapse" data-target="#arbisoftCollapsed" onclick="rotateSpan(this)"><span class="glyphicon glyphicon-chevron-down rotatable"></span></a></div>
					<hr class="star-secondary">
				</div>
			</div>

		</div>
	</section>