<!-- Portfolio Modals for centegy projects-->
{% for post in site.projectsCentegy %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <div class="custom-image-slider">
                            <input type="hidden" name="imageSliderIndex" value="1">
                            <span class="glyphicon glyphicon-chevron-left" onClick="showPrevImage('portfolioModal-{{ post.modal-id }}')"></span>
                            <div class="image-container-div">
                            </div>
                            <div class="ajax-loading-div">
                                <img src="img/ajax-loader.gif">
                            </div>
                            <span class="glyphicon glyphicon-chevron-right" onClick="showNextImage('portfolioModal-{{ post.modal-id }}')"></span>
                        </div>
                        <p>{{ post.description }}</p>
                        <ul class="list-inline item-details">
                            <li>Technical Details:
                                <strong style="color:#18bc9c">{{ post.technicalDetails }}
                                </strong>
                            </li>
                        </ul>
                        <ul class="list-inline item-details">
                            <li>Tools used:
                                <strong style="color:#18bc9c">{{ post.tools }}
                                </strong>
                            </li>
                        </ul>

                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong style="color:#18bc9c">{{ post.client }}
                                </strong>
                            </li>
                            <li>Date:
                                <strong style="color:#18bc9c">{{ post.project-date }}
                                </strong>
                            </li>
                            <li>Service:
                                <strong style="color:#18bc9c">{{ post.category }}
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>initializeCustomImgSlider("portfolioModal-{{ post.modal-id }}")</script>
{% endfor %}
<!-- Portfolio Modals for lums projects -->
{% for post in site.projectsLums %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <div class="custom-image-slider">
                            <input type="hidden" name="imageSliderIndex" value="1">
                            <span class="glyphicon glyphicon-chevron-left" onClick="showPrevImage('portfolioModal-{{ post.modal-id }}')"></span>
                            <div class="image-container-div">
                            </div>
                            <div class="ajax-loading-div">
                                <img src="img/ajax-loader.gif">
                            </div>
                            <span class="glyphicon glyphicon-chevron-right" onClick="showNextImage('portfolioModal-{{ post.modal-id }}')"></span>
                        </div>
                        <p>{{ post.description }}</p>
                        <ul class="list-inline item-details">
                            <li>Technical Details:
                                <strong style="color:#18bc9c">{{ post.technicalDetails }}
                                </strong>
                            </li>
                        </ul>
                        <ul class="list-inline item-details">
                            <li>Tools used:
                                <strong style="color:#18bc9c">{{ post.tools }}
                                </strong>
                            </li>
                        </ul>

                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong style="color:#18bc9c">{{ post.client }}
                                </strong>
                            </li>
                            <li>Date:
                                <strong style="color:#18bc9c">{{ post.project-date }}
                                </strong>
                            </li>
                            <li>Service:
                                <strong style="color:#18bc9c">{{ post.category }}
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>initializeCustomImgSlider("portfolioModal-{{ post.modal-id }}")</script>
{% endfor %}
<!-- Portfolio Modals for other projects-->
{% for post in site.projectsOther %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        <div class="custom-image-slider">
                            <input type="hidden" name="imageSliderIndex" value="1">
                            <span class="glyphicon glyphicon-chevron-left" onClick="showPrevImage('portfolioModal-{{ post.modal-id }}')"></span>
                            <div class="ajax-loading-div">
                                <img src="img/ajax-loader.gif">
                            </div>
                            <div class="image-container-div">
                            </div>                
                            <span class="glyphicon glyphicon-chevron-right" onClick="showNextImage('portfolioModal-{{ post.modal-id }}')"></span>
                        </div>
                        <p>{{ post.description }}</p>
                        <ul class="list-inline item-details">
                            <li>Technical Details:
                                <strong style="color:#18bc9c">{{ post.technicalDetails }}
                                </strong>
                            </li>
                        </ul>
                        <ul class="list-inline item-details">
                            <li>Tools used:
                                <strong style="color:#18bc9c">{{ post.tools }}
                                </strong>
                            </li>
                        </ul>

                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong style="color:#18bc9c">{{ post.client }}
                                </strong>
                            </li>
                            <li>Date:
                                <strong style="color:#18bc9c">{{ post.project-date }}
                                </strong>
                            </li>
                            <li>Service:
                                <strong style="color:#18bc9c">{{ post.category }}
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>initializeCustomImgSlider("portfolioModal-{{ post.modal-id }}")</script>
{% endfor %}